.banner-img {
  background: url("../../img/slide-3-01.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgImg {
  background-image: url("../../img/virtual-assistant-websites.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background-size: 100%;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid rgba(255, 166, 0, 0.521); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 166, 0, 0.514);
  }
}
